@media print {
  app-root > * { display: none; }
  app-root app-print-layout { display: block; }
}

@media print {
  .isPrinting > * { display: none; }
  .isPrinting app-print-layout { display: block; }
}
